@use 'src/styles/vars';

.amount {
  background-color: #75bebb;
  text-align: center;
  padding: 1.3rem;
  padding-top: 1rem * 3;
  &__value {
    font-size: 2.2em;
    margin-bottom: 1rem / 1.5;
    font-weight: 700;
  }
  &__currency {
    font-size: 1.5em;
  }
}
