// @use 'reset';

body {
  font-family: 'Courier Prime', monospace;
  font-weight: 300;
  margin: 0;
}

#root {
  width: 100%;
  background-image: url('../assets/bg.webp');
  background-position: center;
  background-size: cover;
}