.currencies {
  background-color: #ecc19c;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  &__title {
    font-weight: 700;
    padding: 1em;
    padding-top: 1rem * 1.5;
  }
  &__search {
    width: 100%;
    border: none;
    font-weight: 700;
    padding: 1em;
    padding-top: 1rem * 1.8;
    font-size: 1.1em;
    background-color: #75bebb;
    border-top: 1px solid #ecc19c;
    &::placeholder {
      color: rgb(22, 21, 21);
    }
  }
  &__list {    
  list-style: none;
  padding: 0;
  margin: 0;
  }
}

.currency {
  padding: 1em;
  border-top: 1px solid #1e847f;
  font-weight: 500;
  transition: background 1s;
  &:hover {
    background-color: #1e847f;
    transition: background 0.2s;
    cursor: pointer;
  }
}
