.currencies {
  background-color: white;
  max-height: 300px;
  overflow: auto;
  &__title {
    font-weight: 700;
    padding: 1em;
    padding-top: 1rem * 1.5;
  }
  &__search {
    width: 100%;
    border: none;
    font-weight: 700;
    padding: 1em;
    padding-top: 1rem * 1.8;
    color: #f3ca20;
    font-size: 1.1em;
    &::placeholder {
      color: #f1c5b6;
    }
  }
}

.currency {
  padding: 1em;
  border-top: 1px solid #f1c5b6;
  font-weight: 500;
  transition: background 1s;
  &:hover {
    background-color: #f1c5b6;
    transition: background 0.2s;
    cursor: pointer;
  }
}
